* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    background-color: #6d72b6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Añadido */
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 5px;
    margin-top: 50px;
}

#titulo {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px; /* Ajustado */
}

.boardInfo {
    position: absolute; /* Añadido */
    top: 0; /* Añadido */
}

#start {
    background-color: #f35a69;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    
}

#gameOver {
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #f35a69;
    text-align: center;
    position: absolute;
    margin-top: 350px;
}

#scoreBoard {
    font-size: 20px;
    color: #fff;
    margin-bottom: 250px;
}

.square {
    aspect-ratio: 1;
    border: 1px solid #000;
}

.emptySquare {
    background-color: #6d71b5;
}

.snakeSquare {
    background-color: #e3e773;
}

.foodSquare {
    background-color: #55e7e7;
}
